

.texto{
  text-align: center;
  font-weight:lighter;
  width:900px;
  margin:auto;
  margin-top:80px;
  font-size:60px;

}

.trabajaconmigo{
  text-align: center;
  font-weight:bold;
  margin-top:20px;
  font-size:30px;
}

mark{
  background-color:#2babcb;
 color:white;

}





















