
img{
    width:100%;
}

.row{
    display:flex;
    flex:wrap;
}

.column{
    flex:25%;
    padding:0px;
}


.column img{
    margin-top:-7px;
}


@media (max-width:800px){
    .column{
        flex:50%;
    }
}



@media (max-width:600px){
    .column{
        flex:100%;
    }
}

