
/* FOOTER */
@media screen and (max-width:810px){
  .box__footer{
    width:100%;
    grid-template-columns: repeat(1,1fr);
    grid: gap 30px;
    padding:35 0px;
   
  }


/* TABLET */
@media screen and (max-width:1020px){

 
}

        

