                                                                            /* INDEX */
/* MOVIL */
@media screen and (max-width:800px){
    .texto{
        margin-bottom:900px;
    width:100%;
    font-size:41px;
    }

    .trabajaconmigo{
        width:100%;
        margin-top: -10px;
    }
    .project_section .project_container{
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .logo img{
        margin-left: auto;
    
            }

   

                                                                            /* ACERCA DE */

@media screen and (max-width:800px){

.contenedor-foto img{
    height:auto;
    max-width:300px;
    margin-top:-90px;
    
}

h2{
    padding-top:20px;
}
#sobremi{

    width:100%;
    flex:100%;
    flex-wrap:wrap;
}
  
}




