                                                                            /* INDEX */
/* MOVIL */
@media screen and (max-width:800px){
    .texto{
        margin-bottom:900px;
    width:100%;
    font-size:41px;
    }

    .trabajaconmigo{
        width:100%;
        margin-top: -10px;
    }
    .project_section .project_container{
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .logo img{
        margin-left: auto;
    
            }

            .menu{
                margin-left: 180px;
     
                   

}


/* TABLET */
@media screen and (max-width:1020px){

    .project_section .project_container{
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

                                                                            /* ACERCA DE */

@media screen and (max-width:800px){

.contenedor-foto img{
    position:absolute;
    margin-bottom:900px;
    margin-top:-300px;
    margin-right:500px;
  max-height:350px;
  max-width: 350px;



}

.sobremi{
 background-color: brown;
    padding-top:100px;
    width:100%;
    height:10%;
   margin-left:90px;


  
 
}


/* TABLET */
@media screen and (max-width:1020px){

}