                                                                            /* INDEX */
/* MOVIL */
@media screen and (max-width:810px){
    .texto{

        margin-top:130px;
    width:100%;
    font-size:14px;
    }

    .trabajaconmigo{
        width:100%;
        margin-top: -93px;
        margin-top:10px;
    }
   
    .logo img{
        margin-left: auto;
    
            }

         

}

/* TABLET */
@media screen and (max-width:1020px){

    .project_section .project_container{
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

        

