                                                                            /* INDEX */
/* MOVIL */
@media screen and (max-width:810px){
    .texto{
        margin-bottom:900px;
        margin-top:-10px;
    width:100%;
    font-size:41px;
    }

    .trabajaconmigo{
        width:100%;
        margin-top: -930px;
    }
    .project_section .project_container{
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .logo img{
        margin-left: auto;
    
            }

            .menu{
                margin-left: 180px;
     
                   

}


/* TABLET */
@media screen and (max-width:1020px){

    .project_section .project_container{
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

        

