body{ cursor:crosshair; }

.check{
    position:relative;
    margin-right:500px;
    margin-bottom:10px;
    width:50px;
  }

  .check:hover {
    cursor:pointer;
  }
   
  .check:before{
    content:"";
    position:absolute;
    width:50px;
    height:25px;
    background:white;
    border-radius:25px;
   
  }
   
  .check:after{
    content:("");
    position:absolute;
    width:25px;
    background:white;
    border-radius:25px;
    transition:0.25s;
    border: 2px solid black;
    box-sizing:border-box;
  }
   
   
  .check:checked:after{
    left:25px;
    border: 2px solid #fff;
  }
   
  .check:checked:before{
    background : #0fffe4;
  }
   

